{{template "header" .}}
{{- with .Contents }}
<div class="flex-1">
  <h3 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">
    {{.Title}}
    <span class="uk-badge font-normal text-base tracking-normal">{{.Version}}</span>
  </h3>
  <div class="flex flex-wrap gap-2">
    {{- if and .LatestVersion (ne .LatestVersion .Version) }}
    <a class="uk-btn uk-btn-default" href="{{base_path}}/apis/{{.Name}}/{{.LatestVersion}}">Latest version</a>
    {{ end }}
    <a class="uk-btn uk-btn-default" href="{{base_path}}/apis/{{.Name}}/changelog">View all versions</a>
  </div>

  {{- with .Readme }}
  <div class="flex space-y-6 mt-6">
    {{ . }}
  </div>
  {{- end }}
</div>

{{- range .Data.Declarations }}

{{- $package := .Package }}

{{- if .Services }}
<h4 class="text-4xl font-extrabold">Services</h4>

{{- range .Services }}
{{- $service := . }}
<div class="uk-card uk-card-body">
  <h3 class="uk-card-title">{{ .Name }}</h3>
  {{ template "doc" .Doc }}

  <table
    class="uk-table uk-table-divider uk-table-responsive uk-table-responsive-stack"
    >
    <thead>
      <tr>
        <th>Method</th>
        <th>Request</th>
        <th>Response</th>
      </tr>
    </thead>
    <tbody>
      {{- range .Methods }}
      <tr>
        <td data-label="Method" class="space-y-3">
          <p class="font-bold">
            {{.Name}}
          </p>
          <div class="uk-codespan font-normal text-sm ">
            POST /twirp/{{$package}}.{{$service.Name}}/{{.Name}}
          </div>
          {{ template "doc" .Doc }}

          {{- if .Readme }}
          <ul class="uk-accordion uk-card uk-card-body" data-uk-accordion>
            <li>
              <a class="uk-accordion-title uk-card-title p-0 pb-4" href>
                Documentation
                <span class="uk-accordion-icon">
                  <uk-icon icon="chevron-down"></uk-icon>
                </span>
              </a>
              <div class="uk-accordion-content space-y-6">
                {{.Readme}}
              </div>
            </li>
          </ul>
          {{- end }}
        </td>
        <td data-label="Request">{{ template "message_link" .Request }}</td>
        <td data-label="Response">{{ template "message_link" .Response }}</td>
      </div>
      {{- end }}
    </tbody>
  </table>
</div>
{{- end }}

{{- end }}

{{- if .Messages }}

<h4 class="text-4xl font-extrabold">Messages</h4>

{{- range .Messages }}
<div id="message-{{.Name}}" class="uk-card uk-card-body">
  <h3 class="uk-card-title">{{ .Name }}</h3>
  {{ template "doc" .Doc }}

  {{ if .Fields }}
  <table
    class="uk-table uk-table-divider uk-table-responsive uk-table-responsive-stack"
    >
    <thead>
      <tr>
        <th>Field</th>
        <th class="w-40">Type</th>
      </tr>
    </thead>
    <tbody>
      {{- range .Fields }}
      <tr>
        {{- if .OneOf }}
        <td data-label="Type" colspan="2">
          <h4 class="font-bold">One of:</h4>
          <table
            class="uk-table uk-table-divider uk-table-responsive uk-table-responsive-stack">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              {{- range $name, $type := .OneOf }}
              <tr>
                <td data-label="Field">{{$name}}</td>
                <td data-label="Type">{{ template "field_type" $type }}</td>
              </tr>
              {{- end }}
            </tbody>
          </table>
        </td>
        {{- else }}
        <td data-label="Field">
          <p>{{.Name}}</p>
          {{ template "doc" .Doc }}
        </td>
        <td data-label="Type">{{ template "field_type" .Type }}</td>
        {{- end }}
      </tr>
      {{- end }}
    </tbody>
  </table>
  {{ end }}

  {{- with .Readme }}
  <div class="space-y-6 mt-6">
    {{ . }}
  </div>
  {{- end }}
</div>
{{- end }}

{{- end }}

{{- end }}
{{- end }}

{{template "footer" .}}
